

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  /* Removes background color to fix contrast of website */
  /* background-color: grey; */
  margin: 0 ;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}
/* sets the spacing of the website as a whole*/
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}
/* sets the width of the image */
img {
  width: 100%;
  margin: 1rem 0 1rem 0;
}

.main-nav ul {
  /* removes bullet points */
  list-style: none;
  /* makes the navigation horizontal */
  display: flex;
  /* allows items to flex onto new lines */
  flex-wrap: wrap;
  /* removes any spacing around the nav */
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  /* adds space between the nav items */
  flex: 1;
  /* aligns item to the center */
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  /* removes underline */
  text-decoration: none;
  font-size: 1.25rem;
}
.main-nav ul li a:hover{
  background-color: black;
  color: white;  
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

.site-footer {
  padding: 2rem 0;
}
/******************************************************************************************** 
This css will make the skip links navigation be hidden and only apear when user tabs on it 
********************************************************************************************/
.skiplinks ul{
  list-style: none;
  position: relative;
}

.skiplinks a{
  /* removes the links from the document */
  position: absolute;
  /* places the links out of the document making it hidden */
  top: -10em;
}
.skiplinks a:focus{
  color: white;
  background-color: rgb(0, 0, 0);
  /* brings links back on page when on focus */
  top: 0em;  
}
/*******************************  
        Welcome Section
*******************************/ 
.welcome{
  background-color: lightgray;
  padding: 1rem;
}

.owner{
  background-color: lightgrey;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

/*******************************  
            FORM
*******************************/ 
.contact-section{
  /* adds border around form */
  border: 1px solid black;
  /* adds spacing so that the items in the border are centered */
  padding: 1em 3em 1em 1em;
}
/* makes the send button visble when hovered */
.contact-section button:hover{
  background-color: black;
  color: white;
  /* makes cursor point to indicate that button is clickable */
  cursor: pointer;
}

